<!-- Component: Dice Roll preloader animation screen -->
<div id="preloader">
    <div class="preloader-banner">
        <img src="images/banner.png" alt="Dice Throne Logo" class="banner-image" />
    </div>
    <div class="preloader-dice-section">
        <div class="dice-container">
            <div class="dice">
                <div class="dice-face front">1</div>
                <div class="dice-face back">6</div>
                <div class="dice-face right">3</div>
                <div class="dice-face left">4</div>
                <div class="dice-face top">5</div>
                <div class="dice-face bottom">2</div>
            </div>
        </div>
    </div>
</div> <!-- /#preloader -->
